<div class="navigation-wrapper">
	<div class="site-name">
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul>
		        {% for link in site.links %}
				<li><a href="{{ if link.external }}{{ link.url }}{{ else }}{{ .Url }}{{ link.url }}{{ end }}" {{ if link.external }}target="_blank"{{ end }}>{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
