<!doctype html>
{{ `<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->` | safeHTML }}
{{ `<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->` | safeHTML }}
{{ `<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->` | safeHTML }}
{{ `<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->` | safeHTML }}
<head>
{{ partial "head.html" . }}
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">

{{ partial "browser-upgrade.html" . }}

{{ partial "navigation.html" . }}

<div class="article-author-top">
  {{ partial "author-bio.html" . }}
</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <h4>Sorry, but the page you were trying to view does not exist --- perhaps you can try searching for it below.</h4>

  <script type="text/javascript">
    var GOOG_FIXURL_LANG = 'en';
    var GOOG_FIXURL_SITE = '{{ .Site.BaseURL }}'
  </script>
  <script type="text/javascript" src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
  </script>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</div><!-- /.footer-wrap -->

{{ partial "scripts.html" . }}

</body>
</html>
